<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }} ! 
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fa fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>