<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <h1>Guitarreria</h1>
            <p>Pagina dedicada a dar conocimientos sobre los distintos tipos de guitarras electricas y sus sonidos.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/strato2.png">
                        Stratocaster</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/fender-telecaster-natural.jpg"> Telecaster</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/ibanez_superstrat.jpg"> Super Stratocaster</a></li>
                <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="images/guitarra novedades.jpg"> Gibson Les Paul</a></li>
            </ul>
        </div>

        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonio">
                                <h5>Telecaster, realmente la guitarra mas comoda.</h5>
                                <p>Pablo, San Isidro</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>Nada se compara al sonido y originalidad de una Les Paul.</h5>
                                <p>Juana, Palermo</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonio">
                                <h5>¡El concepto de la SuperStrato es genial!.</h5>
                                <p>Diego, San Fernando</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Caracteristicas de una
                            Stratocaster
                        </h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>En primer lugar detengámonos un momento en los detalles de la versión
                            clásica (3
                            pastillas de bobina simple y cuerpo de fresno o aliso). Puedes elegir
                            principalmente
                            entre un mástil de arce puro (claro) y uno con un diapasón de palisandro
                            (oscuro).
                            Probablemente no hay otra guitarra que se adapte mejor al cuerpo humano
                            (tallado
                            en
                            forma de barriga cervecera) y sea más versátil, a parte de las versiones
                            Superstrato más
                            recientes de las que hablaremos más adelante.

                            La pastilla del puente aporta un sonido absolutamente mordiente, y la
                            pastilla
                            del
                            cuello proporciona un sonido de blues maravilloso (los agudos se pueden
                            reducir
                            mediante
                            el uso de control de tono si es necesario). Las posiciones intermedias
                            del
                            conmutador
                            (mástil y media, puente y media) proporcionan sonidos limpios casi
                            acústicos que
                            realmente sólo la Stratocaster es capaz de producir.

                            Por otra parte, está la genial palanca de vibrato, con la que se pueden
                            hacer
                            cosas muy
                            divertidas. En comparación con las guitarras de tipo Gibson, se puede
                            decir que
                            la
                            típica Fender (Strat y Tele) suena más percusiva y explosiva, mientras
                            que las
                            Gibsons
                            tienden a ser un poco más ‘melódicas’, haciendo la vida más fácil para
                            el
                            guitarrista.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="historia" class="row align-items-center py-4 scroll_section">
            <div class="col-lg-4 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="images/historia3.jpg" alt="guitarrahistoria" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/Gibson_Guitar.jpg" alt="guitarrahistoria2" class="img-fluid">
            </div>
            <div class="col-12 d-sm-none">
                <img src="images/historia.jpg" alt="guitarrahistoria3" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Historia</h2>
                <p>Este hermoso y fundamental instrumento se inventó en Estados Unidos a mediados del siglo XX y
                    fue como consecuencia de la aparición del amplificador en 1920. Desde ese entonces muchos
                    instrumentos sufrieron modificaciones en su diseño acústico para evolucionar al diseño
                    eléctrico. La guitarra fue uno de los primeros instrumentos en adaptarse.</p>
            </div>
        </div>
        <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
            <div class="col-lg-8 offset-lg-2">
                <h2>Nosotros</h2>
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="images/Juan perez.jpg" class="card-img-top" alt="Juan Perez">
                            <div class="card-body">
                                <h5 class="card-title">Juan Perez</h5>
                                <p class="card-text">Adicto a la Musica y sus distintos generos, Juan Perez da
                                    conocimiento y nocion a la hora de hablar de los distintos sonidos posibles que
                                    puede brindar una guitarra electrica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/damian gutierrez.jpg" class="card-img-top" alt="Juan Perez">
                            <div class="card-body">
                                <h5 class="card-title">Damian Gutierrez</h5>
                                <p class="card-text">Sonidista de profesion encargado del set que conlleva una
                                    puesta en escena a la hora de tocar en vivo una guitarra electrica.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="images/Paula Guzman.jpg" class="card-img-top" alt="Juan Perez">
                            <div class="card-body">
                                <h5 class="card-title">Paula Guzman</h5>
                                <p class="card-text">Asesora comercial que brinda atencion al cliente orientandolo
                                    en las variedades de productos que ofrece el mercado Musical.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="conocenos" class="row py-4">
            <div class="col-md-4 offset-md-2">
                <h2>Visitanos</h2>
                <div class="mapa">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2274313773396!2d-58.422204285195505!3d-34.59841006472339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb666703c59f%3A0x6f9fd2b57bacdcac!2s%C3%81rea%20de%20Desarrollo%20Profesional%20-%20Pasant%C3%ADas!5e0!3m2!1ses!2sar!4v1662508469177!5m2!1ses!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
                </div>
            </div>
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2>Contacto</h2>
                <form class="row g-3" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                    </div>
                    <div class="col-12">
                        <label for="tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
                    </div>
                    <div class="col-12">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <p>{{message}}</p>
            </div>
        </div>